# MongoDB Connection
MONGODB_URI=mongodb://127.0.0.1:27017/resmatematch

# Server Config
PORT=3000
NODE_ENV=development

# For production (Atlas), use:
# MONGODB_URI=mongodb+srv://JAYJOHNJADEN2004:CorEnr30@cluster0.yhszlon.mongodb.net/resmatematch?appName=Cluster0&retryWrites=true&w=majority
# NODE_ENV=production
